@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

.contain {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.form {
    width: 650px;
    border: 4px solid #FF3565;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

input,
select {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px auto;
    border: 2px solid #183FE1;
    border-radius: 8px;
    outline: none;
}

select {
    margin: 40px auto;
}

label {
    padding: 10px 0;
    font-size: 1.2rem;
}

input:focus {
    border: 2px solid #183FE1;
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 0;
    background-color: #183FE1;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: opacity 500ms ease-in-out;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.pics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.pics input[type="file"] {
    left: 0;
    top: 0;
    width: 20%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.btn-upload {
    padding: 15px 25px;
}

.pics img {
    width: 150px;
    height: auto;
    border-radius: 28px;
}

@media screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}